@model IEnumerable<pointOfSales.Models.Invoice>

@{
    ViewBag.Title = "Index";

}


<h2> Existing Invoices in The System</h2>

<p>
    <i class="fa fa-plus" aria-hidden="true">@Html.ActionLink(" Add New Invoice", "Create")</i>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        //ViewBag.InvoiceIDID = item.InvoiceIDID;
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.DateCreated)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UserName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Total)
    </td>
    <td>
        <i class="fa fa-pencil" aria-hidden="true"> @Html.ActionLink("Edit", "Edit", new { id = item.InvoiceID }) |</i>
        <i class="fa fa-eye" aria-hidden="true"> @Html.ActionLink("Details", "Details", new { id = item.InvoiceID }) |</i>
        <i class="fa fa-trash" aria-hidden="true"> @Html.ActionLink("Delete", "Delete", new { id = item.InvoiceID }) |</i>
        <i class="fa fa-plus-circle" aria-hidden="true">@Html.ActionLink("Add Items", "Test", new { id = item.InvoiceID })</i>

    </td>
</tr>
}

</table>
